/* ## Colors

### Neutral

- **Neutral 900**: `hsl(227, 75%, 14%)`
- **Neutral 800**: `hsl(226, 25%, 17%)`
- **Neutral 700**: `hsl(225, 23%, 24%)`
- **Neutral 600**: `hsl(226, 11%, 37%)`
- **Neutral 300**: `hsl(0, 0%, 78%)`
- **Neutral 200**: `hsl(217, 61%, 90%)`
- **Neutral 100**: `hsl(0, 0%, 93%)`
- **Neutral 0**: `hsl(200, 60%, 99%)`

### Red

- **Red 400**: `hsl(3, 86%, 64%)`
- **Red 500**: `hsl(3, 71%, 56%)`
- **Red 700**: `hsl(3, 77%, 44%)`

### Gradient

- **Light Gradient**: `linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)`
- **Dark Gradient**: `linear-gradient(180deg, #040918 0%, #091540 100%)`

## Typography

### Body Copy

- Font size (paragraph): 16px

Font */

body.dark-mode{
  background: hsl(227, 75%, 14%);
  color: white;
}

body.light-mode {
  background-color: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  color: #000000;
}

/* Optional: Navbar theming */
body.dark-mode .bg-body-dark {
  background: hsl(225, 23%, 24%);
  border-radius: 15px;
  padding: 14px 10px;
}

body.light-mode .bg-body-dark {
  background-color: hsl(227, 75%, 14%);
  color: #000000;
}

.header-nav-margin{
   margin-top: 3rem;
}

.icons-theme{
  background-color: hsl(226, 11%, 37%);
  padding: 12px 15px;
  border-radius: 17px;
  text-align: center;
}

.btn-types .all{
  background-color: hsl(226, 11%, 37%);
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 15px;
}

.btn-types .active{
  background-color: hsl(226, 11%, 37%);
  color: #fff;
  border: none !important;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  padding: 12px 36px;
  border-radius: 15px;
}

.btn-types .inactive{
  background-color: hsl(226, 11%, 37%);
  color: #fff;
  border: none !important;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  padding: 12px 36px;
  border-radius: 15px;
}
.heading-btns{
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  margin-top: 5rem;
}


.heading-filter-bar h2{
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
}

.logo-text{
  display: flex;
  gap: 30px;
}

/* toggle */
.btn-types.active {
  background-color: #f45b69;
  color: white;
  border: none;
}

body.light-mode .btn-types{
  color: #000000;
}
body.light-mode .btn-types:hover{
  background-color: none;
}

.btn-types {
  background-color: transparent;
  color: #fff;
  padding: 11px 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  gap: 20px;
}

.btn-types:hover {
  background-color: #333;
}

.btn-types.active {
  background-color: #f45b69;
  color: #fff;
  border: none;
}
